{% set nav = "about" %}
{% extends "body_wrapper.html" %}
{% block body %}
<div class="container">
  <div class="row">
  </div>
  <div class="row" style="height:100px;">
  </div>
  <div class="row featurette">
    <div class="col-md-7">
      <h2>Info</h2>
      Tycker du att det är svårt med matematik eller vill du bara höja ditt betyg så är du välkommen att höra av dig. 
      Undervisningen sker i Villa Holm i Rönninge med de bästa förutsättningar för att du ska lära dig matematik .
      Uppföljning, repetition inför prov, nationella prov, fylla kunskapsluckor från tidigare år, bli säker på matematik i den kursen/området du inte behärskar.

    </div>
    <div class="col-md-5">
      <div class="row">      
      </div>
      <img class="featurette-image img-responsive"
           src="static/img/info_picture.jpg">
    </div>
  </div>
</div>
{% endblock %}
