{% set nav = args['page']['name'] %}
{% extends "body_wrapper.html" %}
{% block body %}
<div class="container">
  <div class="row">
  </div>
  <div class="row" style="height:100px;">
  </div>
  <div class="row featurette">
    <div class="col-md-7">
      {% set fields = args['page']['fields'] %}
      <h2>{{fields['header']['value']}}</h2>
      {{fields['text']['value']}}
      <!--<h2>Info</h2>
      Bli säker på matematik i den kursen/området som du  just nu läser på grundskole- eller gymnasienivå. 
      <br>
      Tycker du att det är svårt med matematik eller vill du bara höja ditt betyg så är du välkommen att höra av dig. <br>
      Undervisningen sker i Villa Holm i Rönninge med de bästa förutsättningar för att du ska lära dig matematik  eller hemma hos dig.
      <br><br>
      Jag har erfarenhet som matematiklärare från  grundskola och gymnasium.
      <br>
      Utbildade mig för 10 år sedan på lärarhögskolan i Stockholm.-->
    </div>
    <div class="col-md-5">
      <div class="row">      
      </div>
      <img class="featurette-image img-responsive"
	   src="{{fields['image']['value']}}">
    </div>
  </div>
</div>
{% endblock %}
