{% extends "body_wrapper.html" %}
{% block body %}
<div class="container">
  <div class="row">
  </div>
  <div class="row" style="height:100px;">
  </div>
  <div class="row featurette">
    <div class="col-md-7">
      <h2>Kontakt</h2>
      <h3>Subheader</h3>
      email: holmchristin@gmail.com
      <br>tel: 0707311954      
    </div>
    <div class="col-md-5">
      <div class="row">
      </div>
      
        <img class="featurette-image img-responsive" src="static/img/calculator.png">
      
      <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
    </div>
  </div>
</div>
{% endblock %}
