{% set nav = "contact" %}
{% extends "body_wrapper.html" %}
{% block body %}
{% set fields = args['page']['fields'] %}
<div class="container">
  <div class="row">
  </div>
  <div class="row" style="height:100px;">
  </div>
  <div class="row featurette">
    <div class="col-md-7">
      <h2>{{fields['header']['value']}}</h2>
      <br>
      <img class="img-responsive" src="{{fields['image']['value']}}"
	   height="126px" width="192px">
      <h3>{{fields['info']['name']['value']}}</h3>
      <b>mail:</b> 
      <a href="mailto:{{fields['info']['mail']['value']}}?Subject=Räkna%20med%20christin:%20" target="_top">
        {{fields['info']['mail']['value']}}
      </a>
      <br><b>tel:</b> {{fields['info']['phone']['value']}}      
      
      <div style="margin-top:40px">
	Bankgiro: {{fields['info']['bankgiro']['value']}}<br>
	Org.nr: {{fields['info']['org_nr']['value']}}<br>
	Innehar F-skattebevis
      </div>
    </div>
    <div class="col-md-5">
      <div class="row">
      </div>
    </div>
  </div>
</div>
{% endblock %}
