{% set ignored_fields = ["_id", "password"] %}

{% macro add_fields(fields) -%}
{% for field, value in fields.iteritems() %}
{% if field not in ignored_fields %}
{% if value is mapping %}
<h3>{{field}}</h3>
{{add_fields(value)}}
<div style="height:50px;"></div>
{% else %}
<div class="setting_field input-group" style="width:300px;">
  <span id="field_name" class="input-group-addon" style="width:100px;">
    {{field}}
  </span>
  <span id="lbl_field" class="form-control">
    {{value}}
  </span>
  <input id="txt_field" style="display:none;" type="text"
         class="form-control" value="{{value}}">
  <a id="btn_edit" href="#" class="input-group-addon">
    <img style="max-height:80%"
         src="/static/img/glyphicons_030_pencil.png">
  </a>
</div>
{% endif %}
{% endif %}
{% endfor %}
{%- endmacro %}

{% extends "body_wrapper.html" %}
{% block body %}

{% set profile = args['profile'] %}
{% set ignored_fields = ["password", "_id"] %}

<div class="container">
  <div class="row" style="height:100px;">
  </div>
  <h2>Profil</h2>
  <div>
    {{add_fields(profile)}}

    <button id="change_password" class="btn btn-primary" style="margin-top:20px">
      Byt lösenord
    </button>

  </div>
  
</div>
<script src="/static/js/edit_profile.js"></script>
{% endblock %}
