{% set nav = "home" %}
{% extends "body_wrapper.html" %}
{% block body %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Räkna med Christin</h1>
          <p>
            Info text här, bla bla bla bla blalbala.
          </p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">
              Registrera nu
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Priser med RUT avdrag</h1>
          <p>Med RUT avdraget blir det billigare!</p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">
              Läs mer
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Undervisning på dina vilkor!</h1>
          <p>
            Vi lägger upp en personlig plan och bla bla bla. 
          </p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">
              Läs mer
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left">
    </span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right">
    </span>
  </a>
</div>
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Någonting 1</h2>
      <p>Lite text här. Bla bla bla bla bla bla blaaab bblla.</p>
      <p><a class="btn btn-default" href="#" role="button">Läs mer »</a></p>
    </div>
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Någonting 2</h2>
      <p>Lite annan text här. Bla bla bla bla blaab blaa bla blaaaa. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
      <h2>Någonting 3</h2>
      <p>Bla bla bla bl..addas afsdsdf dsffdgg gdsgfd.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
  </div>
</div>
  {% endblock %}
  
