{% set nav = "prices" %}
{% extends "body_wrapper.html" %}
{% block body %}
{% set fields = args['page']['fields'] %}
<div class="container">
  <div class="row">
  </div>
  <div class="row" style="height:100px;">
  </div>
  <div class="row featurette">
    <div class="col-md-7">
      <h2>{{fields['header']['value']}}</h2>
      <h3{{fields['content']['first_sub_section']['header']['value']}}</h3>
      <p class="lead">
        <ul>
          <li>
	    {{fields['content']['first_sub_section']['bullets']['first_bullet']['text']['value']}}
          </li>
          <li>
            {{fields['content']['first_sub_section']['bullets']['second_bullet']['text']['value']}}
          </li>
        </ul>
      </p>
      <h3>{{fields['content']['second_sub_section']['header']['value']}}</h3>
      <p class="lead">
        <ul>
          <li>
	    {{fields['content']['second_sub_section']['bullets']['first_bullet']['text']['value']}}
            <ul>
              <li>
		{{fields['content']['second_sub_section']['bullets']['first_bullet']['sub_bullet_1']['text']['value']}}
                </li>
            </ul>
          </li>
         
        </ul>
      </p>
      <p style="margin-top:40px">
	Alla priser är inkl moms.
      </p>
    </div>
    <div class="col-md-5">
      <div class="row">
      </div>
      
        <img class="featurette-image img-responsive" src="/static/img/calculator.png">
      
      <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
    </div>
  </div>
</div>
{% endblock %}
