{% extends "body_wrapper.html" %}
{% block body %}
<div class="container">
  <div class="row">
  </div>
  <div class="row" style="height:100px;">
  </div>
  <div class="row featurette">
    <div class="col-md-7">
      <h2>Priser</h2>
      <h3>Undervisning i Villa Holm</h3>
      <p class="lead">
        <ul>
          <li>
            Prova på erbjudande! 3h - 1 000kr
          </li>
          <li>
            Undervisning för en person - 450kr/h
          </li>
        </ul>
      </p>
      <h3>Undervisning hemma hos elev</h3>
      <p class="lead">
        <ul>
          <li>
            Undervisning för en person - 650kr/h
            <ul>
              <li>
                Efter godkänt RUT - 375kr/h
                </li>
            </ul>
          </li>
         
        </ul>
      </p>
    </div>
    <div class="col-md-5">
      <div class="row">
      </div>
      
        <img class="featurette-image img-responsive" src="static/img/calculator.png">
      
      <!--<img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">-->
    </div>
  </div>
</div>
{% endblock %}
