<link rel="stylesheet" href="/static/css/bootstrapValidator.min.css"/>
<script type="text/javascript" src="/static/js/bootstrapValidator.min.js"></script>

<!-- Change the "action" attribute to your back-end URL -->
<form id="registrationForm" method="post" class="form-horizontal" action="/interest">
  <div class="form-group">
    <label class="col-lg-3 control-label">Email</label>
    <div class="col-lg-5">
      <input type="text" class="form-control" name="email" />
    </div>
  </div>
  <!--
  <div class="form-group">
    <label class="col-lg-3 control-label">Lösenord</label>
    <div class="col-lg-5">
      <input type="password" class="form-control" name="password" />
    </div>
  </div>
  -->
  
  <div class="form-group">
    <label class="col-lg-3 control-label">Namn</label>
    <div class="col-lg-5">
      <input type="text" class="form-control" name="name" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 control-label">Address</label>
    <div class="col-lg-5">
      <input type="text" class="form-control" name="adress" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 control-label">Telefon</label>
    <div class="col-lg-5">
      <input type="text" class="form-control" name="phone" />
    </div>
  </div>


  <div class="form-group">
    <label class="col-lg-3 control-label">Jag behöver hjälp med</label>
    <div class="col-lg-5">
      <textarea class="form-control" name="message" rows="4"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 control-label">Startdatum</label>
    <div class="col-lg-5">
      <input type="text" class="form-control" name="start_date" />
    </div>
  </div>
  
  <!--
  <div class="form-group">
    <label class="col-lg-3 control-label">Efternamn</label>
    <div class="col-lg-5">
      <input type="text" class="form-control" name="last_name" />
    </div>
  </div>
  -->
  <div class="form-group">
    <div class="col-lg-9 col-lg-offset-3">
      <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
      <button type="submit" class="btn btn-default">Skicka</button>
    </div>
  </div>
</form>
<script src="/static/js/register.js"></script>

