{% extends "body_wrapper.html" %}
{% block body %}
<div class="container">
  <div class="row">
  </div>
  <div class="row" style="height:100px;">
  </div>
  <div class="row featurette">
    <div class="col-md-7">
      <h2>RUT</h2>
    </div>
    <div class="col-md-5">
      <div class="row">
	Från den 1 januari 2013 har förälder eller annan vårdnadshavare, som har underhållsskyldighet för sitt barn, rätt till skattereduktion för arbetskostnad för hjälp med läxor och annat skolarbete för barn som är elev i grundskola och gymnasieskola förutsatt att arbetet utförts i barnets bostad. Kommunal vuxenutbildning omfattas inte av reglerna om skattereduktion för hjälp med läxläsning och annat skolarbete.
      </div>
    </div>
  </div>
</div>
{% endblock %}
