{% macro add_table_interests(interests, unread) -%}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Läst</th>
      <th>Email</th>
      <th>Namn</th>
      <th>Address</th>
      <th>Telefon</th>
      <th>Hjälp med</th>
      <th>Start</th>
    </tr>
  </thead>
  <tbody>
    {% for interest in interests %}
    <tr>
      <td>
        {% if interest["read"] %}
        <button id='{{interest["_id"]}}' class="btn btn-success btn_read">
          Läst
        </button> 
        {% else %}
        <button id='{{interest["_id"]}}' class="btn btn-primary btn_read">
          Oläst
        </button>     
        {% endif %}
      </td>
      <td>
        <a href="#">
          {{interest["email"]}}
        </a>
      </td>
      <td>
        {{interest["name"]}}
      </td>
      <td>
        {{interest["address"]}}
      </td>
      <td>
        {{interest["phone"]}}
      </td>
      <td>
        {{interest["help_with"]}}
      </td>
      <td>
        {{interest["start_date"]}}
      </td>
      {% endfor %}
  </tbody>
</table>
{%- endmacro %}
{% extends "body_wrapper.html" %}
{% block body %}
<div class="container">
  <div class="row">
  </div>
  <div class="row" style="height:100px;">
  </div>
  <div class="row featurette">
    <h1>Intresseanmälningar</h1>
    {{add_table_interests(args["interests"])}}
  </div>
</div>
<script src="/static/js/show_interests.js"></script>
{% endblock %}

